<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://angulararchitects.io" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/paper-design/angular2-logo.png" />
      </div>
    </a>
    <a href="http://angulararchitects.io" class="simple-text logo-normal">
      Flights 42
    </a>
  </div>
  <ul class="nav">
    <li routerLinkActive="active">
      <a routerLink="/home">
        <i class="nc-icon nc-bank"></i>
        <p>Home</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/flight-booking">
        <i class="nc-icon nc-send"></i>
        <p>Flights</p>
      </a>
    </li>

    <!-- <li routerLinkActive="active">
      <a routerLink="/passengers">
        <i class="nc-icon nc-single-02"></i>
        <p>Passengers</p>
      </a>
    </li> -->

    <li routerLinkActive="active">
      <a routerLink="/my-tickets">
        <i class="nc-icon nc-tag-content"></i>
        <p>My Ticket</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/next-flight">
        <i class="nc-icon nc-spaceship"></i>
        <p>Next Flight</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/about">
        <i class="nc-icon nc-bullet-list-67"></i>
        <p>About</p>
      </a>
    </li>

    <!-- <li routerLinkActive="active">
      <a>
        <i class="nc-icon nc-cart-simple"></i>
        <p>Basket</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a>
        <i class="nc-icon nc-simple-remove"></i>
        <p>Hide Basket</p>
      </a>
    </li> -->
  </ul>
</div>
